<%- include('header') -%>
    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">تاگل نویگیشن</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">خانه</a></li>
                        <li class="scroll"><a href="#features">ویژگی ها</a></li>
                        <li class="scroll"><a href="#services">سرویس ها</a></li>
                        <li class="scroll"><a href="#portfolio">نمونه کار</a></li>
                        <li class="scroll"><a href="#about">درباره ما</a></li>
                        <li class="scroll"><a href="#meet-team">آشنایی با تیم</a></li>
                        <li class="scroll"><a href="#pricing">تعرفه ها</a></li>
                        <li class="scroll"><a href="#blog">وبلاگ</a></li>
                        <li class="scroll"><a href="#get-in-touch">ارتباط با ما</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <div id="root"></div>

    <section id="animated-number">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">حقایق جالب</h2>
                <p class="text-center wow fadeInDown">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها <br> سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربرد</p>
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="animated-number" data-digit="2305" data-duration="1000"></div>
                        <strong>فنجان های قهوه نوشیده شده</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="animated-number" data-digit="1231" data-duration="1000"></div>
                        <strong>تعداد مشتریان ما</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="animated-number" data-digit="3025" data-duration="1000"></div>
                        <strong>پروژه های انجام شده</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="animated-number" data-digit="1199" data-duration="1000"></div>
                        <strong>سوال های پاسخ داده شده</strong>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#animated-number-->

    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">جدول تعرفه ها</h2>
                <p class="text-center wow fadeInDown">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها <br> سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربرد</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        39
                                    </span>
                                    <span class="duration">
                                        ماهیانه
                                    </span>
                                </div>

                                <div class="plan-name">
                                    پلن آغازین
                                </div>
                            </li>
                            <li><strong>1</strong> دامنه</li>
                            <li><strong>100GB</strong> فضا</li>
                            <li><strong>UNLIMITED</strong> پهنای باند</li>
                            <li>واگذاری اس اس ال کانکشن</li>
                            <li><strong>10</strong> ایمیل آدرس</li>
                            <li><strong>24/7</strong> پشتیبانی</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">الان میخرم</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        69
                                    </span>
                                    <span class="duration">
                                        ماهیانه
                                    </span>
                                </div>

                                <div class="plan-name">
                                    کسب و کار
                                </div>
                            </li>

                            <li><strong>1</strong> دامنه</li>
                            <li><strong>100GB</strong> فضا</li>
                            <li><strong>UNLIMITED</strong> پهنای باند</li>
                            <li>واگذاری اس اس ال کانکشن</li>
                            <li><strong>10</strong> ایمیل آدرس</li>
                            <li><strong>24/7</strong> پشتیبانی</li>
                            <li class="plan-purchase"><a class="btn btn-default" href="#">الان میخرم</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        99
                                    </span>
                                    <span class="duration">
                                        ماهیانه
                                    </span>
                                </div>

                                <div class="plan-name">
                                    پلن حرفه ای
                                </div>
                            </li>
                            <li><strong>1</strong> دامنه</li>
                            <li><strong>100GB</strong> فضا</li>
                            <li><strong>UNLIMITED</strong> پهنای باند</li>
                            <li>واگذاری اس اس ال کانکشن</li>
                            <li><strong>10</strong> ایمیل آدرس</li>
                            <li><strong>24/7</strong> پشتیبانی</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">الان میخرم</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        199
                                    </span>
                                    <span class="duration">
                                        ماهیانه
                                    </span>
                                </div>

                                <div class="plan-name">
                                    پلن فوق ستاره
                                </div>
                            </li>
                            <li><strong>1</strong> دامنه</li>
                            <li><strong>100GB</strong> فضا</li>
                            <li><strong>UNLIMITED</strong> پهنای باند</li>
                            <li>واگذاری اس اس ال کانکشن</li>
                            <li><strong>10</strong> ایمیل آدرس</li>
                            <li><strong>24/7</strong> پشتیبانی</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">الان میخرم</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#pricing-->

    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <p><img class="img-circle img-thumbnail" src="images/testimonial/01.jpg" alt=""></p>
                                <h4>لوئیس مرگان</h4>
                                <small>کارمند شرکت مایکروسافت آفیس</small>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                            <div class="item">
                                <p><img class="img-circle img-thumbnail" src="images/testimonial/02.jpg" alt=""></p>
                                <h4>لوئیس مرگان</h4>
                                <small>کارمند شرکت مایکروسافت آفیس</small>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </div>

                        <!-- Controls -->
                        <div class="btns">
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
                                <span class="fa fa-angle-left" aria-hidden="true"></span>
                                <span class="sr-only">قبل</span>
                            </a>
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <span class="sr-only">بعد</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

    <section id="blog">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">آخرین های وبلاگ</h2>
                <p class="text-center wow fadeInDown">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها <br> سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربرد</p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                        <article>
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    <img class="img-responsive" src="images/blog/01.jpg" alt="">
                                    <span class="post-format post-format-video"><i class="fa fa-film"></i></span>
                                </div>
                                <div class="entry-date">1394 / 7 / 4</div>
                                <h2 class="entry-title"><a href="#">فیلمی از پروژه انجام شده توسط ما</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان</P>
                                <a class="btn btn-primary" href="#">بیشتر بخوانید</a>
                            </div>

                            <footer class="entry-meta">
                                <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">ویکتور</a></span>
                                <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">آموزشی</a></span>
                                <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                            </footer>
                        </article>
                    </div>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6">
                    <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
                        <article class="media clearfix">
                            <div class="entry-thumbnail pull-left">
                                <img class="img-responsive" src="images/blog/02.jpg" alt="">
                                <span class="post-format post-format-gallery"><i class="fa fa-image"></i></span>
                            </div>
                            <div class="media-body">
                                <header class="entry-header">
                                    <div class="entry-date">1394 / 7 / 4</div>
                                <h2 class="entry-title"><a href="#">فیلمی از پروژه انجام شده توسط ما</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>لورم ایپسوم متن ساختگی باشرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان</P>
                                <a class="btn btn-primary" href="#">بیشتر بخوانید</a>
                            </div>

                            <footer class="entry-meta">
                                <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">ویکتور</a></span>
                                <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">آموزشی</a></span>
                                <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                            </footer>
                            </div>
                        </article>
                    </div>
                    <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="200ms">
                        <article class="media clearfix">
                            <div class="entry-thumbnail pull-left">
                                <img class="img-responsive" src="images/blog/03.jpg" alt="">
                                <span class="post-format post-format-audio"><i class="fa fa-music"></i></span>
                            </div>
                            <div class="media-body">
                                <header class="entry-header">
                                <div class="entry-date">1394 / 7 / 4</div>
                                <h2 class="entry-title"><a href="#">فیلمی از پروژه انجام شده توسط ما</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>لورم ایپسوم متن ساختگی بی شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان</P>
                                <a class="btn btn-primary" href="#">بیشتر بخوانید</a>
                            </div>

                            <footer class="entry-meta">
                                <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">ویکتور</a></span>
                                <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">آموزشی</a></span>
                                <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                            </footer>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">در ارتباط باشید</h2>
                <p class="text-center wow fadeInDown">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها <br> سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربرد</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->


    <section id="contact">
            <!-- data-latitude="35.731478" data-longitude="51.501591" -->
        <div id="google-map" style="height:650px"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>اطلاعات تماس</h3>

                            <address>
                            <strong>آدرس شرکت</strong><br>
                            نارمک، خیابان گلبرگ شرقی ، رودباری شمالی، روبروی<br>
                            مسجد امام حسن عسکری پلاک ۴۳۸ واحد یک<br>
                            <abbr title="Phone">شماره :</abbr> 09122432661
                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="نام و نام خانوادگی" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="آدرس ایمیل" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="موضوع پیام" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="پیغام شما در این قسمت" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">ارسال پیام</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 copyright">
                    طراحی شده توسط شرکت ما و ترجمه و راست چین سازی توسط <a target="_blank" href="https://www.linkedin.com/in/hosein-naseri/" rel="nofollow" >حسین ناصری</a>
                </div>
                <div class="col-sm-6 social-network">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

<%- include('footer') -%>