<%- include('header') -%>
    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">تاگل نویگیشن</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">خانه</a></li>
                        <li class="scroll"><a href="#features">ویژگی ها</a></li>
                        <li class="scroll"><a href="#services">سرویس ها</a></li>
                        <li class="scroll"><a href="#portfolio">نمونه کار</a></li>
                        <li class="scroll"><a href="#about">درباره ما</a></li>
                        <li class="scroll"><a href="#meet-team">آشنایی با تیم</a></li>
                        <li class="scroll"><a href="#blog">وبلاگ</a></li>
                        <li class="scroll"><a href="#get-in-touch">ارتباط با ما</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <div id="root"></div>

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">در ارتباط باشید</h2>
                <p class="text-center wow fadeInDown">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها <br> سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربرد</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->


    <section id="contact">
            <!-- data-latitude="35.731478" data-longitude="51.501591" -->
        <div id="google-map" style="height:650px"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>اطلاعات تماس</h3>

                            <address>
                            <strong>آدرس شرکت</strong><br>
                            نارمک، خیابان گلبرگ شرقی ، رودباری شمالی، روبروی<br>
                            مسجد امام حسن عسکری پلاک ۴۳۸ واحد یک<br>
                            <abbr title="Phone">شماره :</abbr> 09122432661
                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="نام و نام خانوادگی" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="آدرس ایمیل" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="موضوع پیام" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="پیغام شما در این قسمت" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">ارسال پیام</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 copyright">
                    طراحی شده توسط شرکت ما و ترجمه و راست چین سازی توسط <a target="_blank" href="https://www.linkedin.com/in/hosein-naseri/" rel="nofollow" >حسین ناصری</a>
                </div>
                <div class="col-sm-6 social-network">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

<%- include('footer') -%>